p {
    font-family: Lato;
  }
  app-top-bar {
    height: 68px;
    background-color: #1976d2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}